{% extends "model-page.html" %}

{% block content %}
<h1>Evento</h1>

<div>
    <form action="submit" method="POST"> {% csrf_token %}
        <input type="number" name="id_evento", value="{{ evento.id }}" hidden>
    <div>
        <label>Titulo</label>
        <input required type="text" name="titulo" size="23" value="{{ evento.titulo }}">
    </div>
    <div>
        <label>Data de evento: </label>
        <input required type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}"> <!--Deixa em formato data hora local-->
    </div>
    <div>
        <H5>Descrição</H5>
        <textarea required name="descricao" rows="4" cols="20">{{ evento.descricao }}</textarea>
    </div>
    <div>
        <h5>Local do evento</h5>
        <input type="text" name="local" value="{{ evento.local }}">
    </div>

    <button >Salvar</button>
    </form>
    <a href="/">
        <button type="button">Cancelar</button>
    </a>
</div>
{% endblock %}