<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="post"> {% csrf_token %}<!--Action é URL destino esse token é necessario-->
    <div align="center">
        <div>
            <label>Usuario: </label>
            <input type="text" name="usuario">
        </div>
        <div>
            <label>Senha</label>
            <input type="password" name="senha">
        </div>
        <button type="submit">Entrar</button>
    </div>
    </form>
    <div align="center">
        {% for message in messages %}
            <strong> Erro: </strong>{{ message }}
        {% endfor %}
    </div>
</body>
</html>