    <meta charset="UTF-8">
    <title>Agenda</title>
    <div class="container border jumbotron text-center">
    <div width="50%" align="right" class="text-right">
            <button class="btn"><a href="/logout" alig="right">LogOut</a></button>
        </div>
        <h1>Agenda</h1>
    </div>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .saida{
        padding-right:100px
        }
        btn{
        text: black
        border-style: dotted;
        }
    </style>
